#221562831935054 {
  min-height: unset !important;

  body {
    background-color: transparent;

    #stage {
      padding: 0;
      padding-bottom: 0;

      .col-2 {
        padding: 0;
      }
    }

    #form-footer {
      display: none;
    }
  }
}