// fonts

@font-face {
    font-family: 'circular-regular';
    src: url('../Font/CircularStd-Book.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'circular-bold';
    src: url('../Font/CircularStd-Black.ttf') format('truetype');
    font-style: 800;
}