html, body {
	scroll-behavior: smooth;
	overflow-x: hidden !important;
	width: 100%;
}

body {
	background-color: #fff;
	transition: 0.3s ease;
}

.container {
	max-width: 1440px;
	padding-right: 120px;
	padding-left: 120px;

	@media (max-width: 1100px) {
		padding-right: 100px;
		padding-left: 100px;
	}

	@media (max-width: 768px) {
		padding-right: 30px;
		padding-left: 30px;
	}
}



// CURSOR
html,
body {
	&,
	* {
		cursor: none;
	}
}


@media only screen {
	.cursor-dot,
	.cursor-dot-outline {
		pointer-events: none;
		position: absolute;
		top: 50%;
		left: 50%;
		border-radius: 50%;
		opacity: 0;
		transform: translate(-50%, -50%);
		transition: opacity 0.3s ease-in-out,
		transform 0.3s ease-in-out;
		z-index: 10000;
	}

	.cursor-dot {
		$size: 16px;
		width: $size;
		height: $size;
		border: 3px solid $color-black;
	}

	.cursor-dot-outline {
		$size: 80px;
		width: $size;
		height: $size;
		background-color: rgba($color-black, 0.1);
	}
}


// STAMPS

@media only screen {
	div.stamps {
		position: absolute;
		top: 0;
		left: 50%;
		width: 50%;
	}

	div.stamps img {
		position: absolute;
		transform: translate(-50%, -50%);
		animation: spin 30s linear infinite;
	}
}
