html, body {
	scroll-behavior: smooth;
	overflow-x: hidden !important;
	width: 100%;
}

body {
	background-color: #fff;
	transition: 0.3s ease;
}

.container {
	max-width: 1440px;
	padding-right: 120px;
	padding-left: 120px;

	@media (max-width: 1100px) {
		padding-right: 100px;
		padding-left: 100px;
	}

	@media (max-width: 768px) {
		padding-right: 30px;
		padding-left: 30px;
	}
}