// colors
$color-primary: #C4BADD;
$color-secondary: #C2D6DF;
$color-tertiary: #FFF5AD;

$color-primary-dark: #AA9AD1;

$color-white: #FFF;
$color-black: #1E1C21;

$color-alert: #dc3545;

// fonts
$font-family-circular-bold: 'circular-bold';
$font-family-circular-regular: 'circular-regular';

// border-radius
$border-radius-sm: 2100px 1000px;