// colors
$color-primary: #C4BADD;
$color-secondary: #B5C9D1;
$color-tertiary: #FFF5AD;

$color-white: #FFF;
$color-black: #000;

$color-alert: #dc3545;

// fonts
$font-family-circular-bold: 'circular-bold';
$font-family-circular-regular: 'circular-regular';

// border-radius
$border-radius-sm: 2100px 1000px;