.faq {
  margin-bottom: clamp(50px, 6vw, 200px);

  .faq-card {
    margin-bottom: 60px;
    cursor: pointer;

    &:hover {
      h3 {
        color: #A9C0CB;
      }
    }
  }

  .btn-toggle {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    &:hover {
      text-decoration: none;
    }

      h3 {
        font-size: clamp(34px, 6vw, 38px);
        margin-bottom: 20px;
        transition: .18s ease;
      }

    .toggle-icon {
      position: relative;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        position: absolute;
        transition: opacity .25s ease;
      }

      .close-icon {
        opacity: 0;
      }
    }

    &.open {

      h3 {
        color: #A9C0CB;
      }

      .close-icon {
        opacity: 1;
      }

      .open-icon {
        opacity: 0;
      }
    }
  }

  .content {
    display: none;

    @media (min-width: 990px) {
      width: calc(100% - 80px);
    }

    &.show {
      display: block;
    }
  }
}