.start-animation {
  width: 100vw;
  height: 100vh;
  background-color: #CAC1E0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
  animation-duration: 200s;
  animation-name: startAnimation;

  video {
    width: 40%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: 990px) {
      width: 20%;
    }
  }

  @keyframes startAnimation {
    from {
      opacity: 1;
    }

    2% {
      opacity: 1;
    }

    3% {
      opacity: 0;
    }

    to {
      opacity: 0;
    }
  }
}