.pricing {
  background-color: $color-secondary;
  padding: 120px 0 100px;
  margin: clamp(140px, 10vw, 400px) 0;
  position: relative;
  
  .line {
    position: absolute;
    pointer-events: none;

    &.top {
      top: -287px;
      left: -15vw;

      @media (max-width: 1700px) {
        left: -30vw;
      }

      @media (max-width: 1400px) {
        width: 800px;
        left: -20vw;
        top: -210px;
      }
    }

    &.bottom {
      bottom: -70px;
      right: -50px;

      @media (max-width: 1400px) {
        width: 360px;
        bottom: -55px;
        right: -50px;
      }
    }
  }

  .item-wrap {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1220px) {
      flex-direction: column;
    }

    .item {
      width: 25%;

      @media (max-width: 1400px) {
        width: 30%;
      }

      @media (min-width: 620px) and (max-width: 1220px) {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 70px;
        align-items: flex-end;
        justify-content: space-between;

        h3 {
          width: 300px;
          margin-bottom: 0;
        }

        &:last-child {
          margin-bottom: 0 !important;
        }
      }

      @media (max-width: 619px) {
        width: 100%;
        margin-bottom: 80px;

        h3 {
          width: 250px;
          margin-bottom: 0;
        }

        &:last-child {
          margin-bottom: 0 !important;
        }
      }

      .price {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 50px;
        border-bottom: 3px solid black;

        @media (min-width: 620px) and (max-width: 1220px) {
          margin-bottom: 10px;
          width: calc(100% - 400px);
          flex-shrink: 0;
          flex-grow: 0;
        }

        @media (min-width: 620px) and (max-width: 700px) {
          width: calc(100% - 320px);
        }

        @media (max-width: 619px) {
          margin-top: 24px;
        }

        p {
          margin-bottom: 10px;
        }
      }
    }
  }
}