<section class="pricing">
    <img class="line top" src="./Images/pricing-line-top.svg">
    <img class="line bottom" src="./Images/pricing-line-bottom.svg">
    <div class="container">
        <div class="item-wrap">
            <div class="item">
                <h3>Für die Spontanen</h3>
                <div class="price">
                    <p>Drop-In</p>
                    <p>14 €</p>
                </div>
            </div>

            <div class="item">
                <h3>Um im Flow zu bleiben</h3>
                <div class="price">
                    <p>10er Karte</p>
                    <p>12 €</p>
                </div>
            </div>

            <div class="item">
                <h3>Weil du es verdienst</h3>
                <div class="price">
                    <p>Ermäßigt</p>
                    <p>10 €</p>
                </div>
            </div>
        </div>
    </div>
</section>