<section  id="sec-classes" data-background="#ffffff">
    <div class="container">
        <div class="text-animation">
            <h2 class="animated one">ohne hokus pokus</h2>
            <h2 class="animated two">
                mit herz und verstand</h2>
            <h4>So bauen sich meine Kurse auf</h4>
        </div>
    </div>
</section>

