<section class="cta-image">
    <div class="image"  style="background-image: url('./Images/kurse.jpg')"></div>
    <div class="content">
        <h3>Heute schon gespürt?</h3>
        <a class="btn" href="/kurse.html">die Kurse</a>
    </div>
</section>