{{#> layouts/base title="sun moon YOGA" home="true"}}

    {{#*inline "content-block"}}

        {{> danke/danke }}

        <!--
        <div class="stamps">
        </div>
        -->
    {{/inline}}

{{/layouts/base}}
