{{#> layouts/clean title="sun moon YOGA" home="true"}}

    {{#*inline "content-block"}}

        <section class="contact">
            <div class="content no-bg">
                <h3>Impressum</h3>
                <h4>Angaben gem&auml;&szlig; &sect; 5 TMG</h4>
                <p>
                <p>Milena Planeta<br />
                    Corneliastr 9<br />
                    45130 Essen</p>

                <h6>Kontakt</h6>
                <p>Telefon: 015780943723<br />
                    E-Mail: milena.friedhoff@gmail.com</p>

                <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
                </p>

                <h6>Yogamaya</h6>
                <div class="people">
                    <a target="blank" href="https://www.instagram.com/delonghau/?hl=de" class="person">
                        <img src="./Images/dele.png">
                        <div class="text">
                            <h6>Delong Hau</h6>
                            <p>Photos</p>
                        </div>
                    </a>

                    <a target="blank" href="https://www.instagram.com/teasertina/?hl=de" class="person">
                        <img src="./Images/tina.png">
                        <div class="text">
                            <h6>Tina Hau</h6>
                            <p>Texte</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="sub-content">
                <p>
                    <a href="https://www.sunmoon-yoga.de/">Zurück zur Website</a>
                </p>
            </div>
        </section>

    {{/inline}}

{{/layouts/clean}}
