{{#> layouts/base title="sun moon YOGA" home="true"}}

    {{#*inline "content-block"}}
        {{> hero/hero-animation }}

        {{> about/about }}
        {{> text-animation/text-animation }}
        {{> classes/classes }}
        {{> video-bg/video-bg }}
        {{> instagram-teaser/instagram-teaser }}
        {{> newsletter/newsletter }}

        <!--
        <div class="stamps">
        </div>
        -->
    {{/inline}}

{{/layouts/base}}
