{{#> layouts/base title="sun moon YOGA" home="true"}}

    {{#*inline "content-block"}}
        {{> hero/hero-animation }}

        <section class="about">
        <div class="container">
            <div class="row head">
                <div class="col-9 col-sm-6 col-lg-5">
                    <img class="img-fluid" src="./Images/about.jpg">
                </div>
                <div class="col-12 col-sm-8 col-lg-6 offset-lg-1">
                    <h3>Nur ein Sport, dachte ich früher. So viel mehr, weiß ich jetzt.</h3>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <p>Was als einer jahrhundertealte Philosophie aus Lehrbüchern anfing, ist mit der Zeit zu einem Verständnis für Körper und Geist gewachsen – ein Verständnis, dass mich in jedem Tag in meinem Alltag begleitet und mich näher zu mir selbst bringt: Es verbessert meine Konzentration, lässt mich erholt Schlafen & und bringt mir die Ruhe die ich an stressigen Tagen dringend brauche.
                        <br><br>
                        Diese Erfahrungen möchte ich als Yoga-Lehrerin an dich weitergeben. Denn das Wichtigste, was wir durch die Praxis lernen: Wir selbst sind für unsere körperliche & mentale Gesundheit verantwortlich und  können uns langfristig glücklich machen. Also, worauf wartest du noch?</p>
                </div>
            </div>
        </div>
        </section>
        <section class="course-preview">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h2 class="head">kurse</h2>
                    </div>
                    <div class="col-12 col-lg-10 col-xl-8">
                        <div class="course-card-wrap">
                            <div class="course-card-content-wrap">
                                <div style="background-image: url('./Images/course-card-vinyasa.jpg')" class="course-card">
                                    <h4>im flow</h4>
                                    <h3>vinyasa</h3>
                                </div>

                                <div class="links">
                                    <a class="btn secondary" href="sunmoon-yoga.de/vinyasa.html">+ mehr</a>
                                    <a class="btn" href="sunmoon-yoga.de/vinyasa-buchung.html">buchen</a>
                                </div>
                            </div>

                            <div class="course-card-content-wrap">
                                <div style="background-image: url('./Images/course-card-postnatal.jpg')" class="course-card">
                                    <h4>mama & baby</h4>
                                    <h3>postnatal</h3>
                                </div>

                                <div class="links">
                                    <a class="btn secondary" href="sunmoon-yoga.de/postnatal.html">+ mehr</a>
                                    <a class="btn" href="sunmoon-yoga.de/postnatal-buchung.html">buchen</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{> pricing/pricing }}
        {{> location/location }}
        <section class="cta">
            <div class="container">
                <h2>Noch Fragen?</h2>
                <a class="btn btn-big with-border" href="sunmoon-yoga.de/kontakt.html">Kontakt</a>
            </div>
        </section>


        <section class="faq">
            <div class="container">
                <div class="row head">
                    <div class="col-9 col-sm-6 col-lg-5">
                        <img class="img-fluid" src="./Images/faq.jpg">
                    </div>
                    <div class="col-12 col-sm-8 col-lg-6 offset-lg-1">
                        <h3>Die wichtigsten Antworten auf einen Blick</h3>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <div class="faq-card">
                            <a class="btn-toggle open">
                                <h3>Brauche ich Vorerfahrung im Yoga?</h3><h3 class="toggle-icon"><span class="open-icon">+</span> <span class="close-icon">–</span></h3>
                            </a>
                            <div class="content show">
                                <p>Auch wenn du noch nie eine Yoga-Matte ausgerollt hast, bist du in der Villa Rü richtig. In deiner Yogapraxis gehst du immer nur soweit, wie es sich für dich und deinen Körper gut anfühlt. Ich unterstütze dich dabei, die Signale deines Körpers wahrzunehmen und darauf zu reagieren.</p>
                                <p>Allerdings gibt es ein paar <a href="#">Leitlinien</a> für deine erste Stunde bei mir, die du dir vor deinem ersten Yogakurs unbedingt durchlesen solltest.</p>
                            </div>
                        </div>

                        <div class="faq-card">
                            <a class="btn-toggle">
                                <h3>Muss ich meine Matte selbst mitbringen?</h3><h3 class="toggle-icon"><span class="open-icon">+</span> <span class="close-icon">–</span></h3>
                            </a>
                            <div class="content">
                                <p>Da jede:r Yogi:ni seine Vorlieben und unterschiedliche Bedürfnisse hat, bringst du deine eigene Matte mit. Solltest du noch keine Yogamatte haben und nicht wissen, welche Matte für dich geeignet ist, <a href="sunmoon-yoga.de/kontakt.html">schreib’ mir</a> oder schau mal hier vorbei:</p>
                                <p class="info">Der <a target="blank" href="https://www.fuckluckygohappy.de/fuenf-yogamatten-im-test/">Yogamatten-Test</a> von fuckluckygohappy kann dir behilflich sein, eine gute Matte auszuwählen.</p>
                            </div>
                        </div>

                        <div class="faq-card">
                            <a class="btn-toggle">
                                <h3>Werden die Kurse auch online angeboten</h3><h3 class="toggle-icon"><span class="open-icon">+</span> <span class="close-icon">–</span></h3>
                            </a>
                            <div class="content">
                                <p>Ein Online-Angebot der aktuellen Kurse gibt es leider nicht. Wenn du nach einem guten Online Yoga-Studio suchst, kann ich dir <a href="https://www.yogaeasy.de/">yogaeasy</a> ans Herz legen.</p>
                            </div>
                        </div>

                        <div class="faq-card">
                            <a class="btn-toggle">
                                <h3>Wie kann ich bezahlen?</h3><h3 class="toggle-icon"><span class="open-icon">+</span> <span class="close-icon">–</span></h3>
                            </a>
                            <div class="content">
                                <p>Bezahlen kannst du vor Ort, mit allen Karten oder per Paypal überweisen. Eine Barzahlung ist nicht möglich.</p>
                            </div>
                        </div>

                        <div class="faq-card">
                            <a class="btn-toggle">
                                <h3>Wann bekomme ich die Ermäßigung?</h3><h3 class="toggle-icon"><span class="open-icon">+</span> <span class="close-icon">–</span></h3>
                            </a>
                            <div class="content">
                                <p>Der ermäßigte Preis richtet sich an Personen, die sich in einer besonderen finanziellen Situation befinden. Diese können sein:</p>
                                <ul class="small">
                                    <li>Schüler*innen</li>
                                    <li>Studierende</li>
                                    <li>Mütter & Väter in Elternzeitn</li>
                                    <li>Schwerbehinderte Personen</li>
                                    <li>ALG Beziehende</li>
                                    <li>Personen, die Transferleistungen (ALG, Sozialhilfe, Grundsicherung oder Leistungen nach dem Asylbewerberleistungsgesetz) erhalten</li>
                                </ul>
                                <p>Noch nicht sicher? <a href="sunmoon-yoga.de/kontakt.html">Schreib’ mir gerne!</a> </p>
                            </div>
                        </div>

                        <div class="faq-card">
                            <a class="btn-toggle">
                                <h3>Wo kann ich die 10er Karte kaufen & wie lange ist sie gültig?</h3><h3 class="toggle-icon"><span class="open-icon">+</span> <span class="close-icon">–</span></h3>
                            </a>
                            <div class="content">
                                <p>Die Karte kaufst du vor oder nach deinem Yoga-Kurs vor Ort. Die Gültigkeit der beträgt ein Jahr.</p>
                            </div>
                        </div>

                        <div class="faq-card">
                            <a class="btn-toggle">
                                <h3>Was ist wenn der Kurs bereits gebucht ist, ich aber doch absagen muss? </h3><h3 class="toggle-icon"><span class="open-icon">+</span> <span class="close-icon">–</span></h3>
                            </a>
                            <div class="content">
                                <p>Uns allen kommt mal etwas dazwischen – versuche bitte 24 Stunden vor Kursbeginn abzusagen, damit jemand anderes deinen Platz einnehmen kann. Bei Krankheitsfällen oder dringenden Notfällen, kannst du natürlich auch am selben Tag Bescheid geben. </p>
                            </div>
                        </div>

                        <div class="faq-card">
                            <a class="btn-toggle">
                                <h3>Wo finden die Yogastunden statt?</h3><h3 class="toggle-icon"><span class="open-icon">+</span> <span class="close-icon">–</span></h3>
                            </a>
                            <div class="content">
                                <p>Die Yogastunden finden in der <a href="https://de-de.facebook.com/VillaRue/" target="blank">Villa Rü</a> statt, direkt gegenüber vom Girardethaus. Da wir uns mitten in Rüttenscheid befinden, Plane genug Zeit zum parken ein, falls du mit dem Auto kommst.</p>
                                <p><strong>Adresse</strong><br>
                                    Girardetstraße 21,<br>
                                    45131 Essen
                                </p>
                                <p>
                                    <strong>Postnatal – </strong> Raum 202<br>
                                    <strong>Vinyasa – </strong> Raum 203<br>
                                </p>
                                <p>Direkt zu <a href="https://goo.gl/maps/eCWHkHw3a43snPAC6">Google Maps</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{> cta-image/cta-kurse }}

        <!--
        <div class="stamps">
        </div>
        -->
    {{/inline}}

{{/layouts/base}}
