{{#> layouts/clean title="sunmoon yoga – Kontakt aufnehmen" home="true"}}

    {{#*inline "content-block"}}

        <section class="contact">
            <div class="content">
                <h3>Kontakt</h3>
                <h4>Milena Planeta</h4>
                <p><a href="tel:015780943723">015780943723</a> <br>
                    <a href="mailto:milena.friedhoff@gmail.com">hey@sunmoon-yoga.de</a><br>
                <a href="https://www.instagram.com/sunmoon.yoga/?hl=de">Instagram</a>
                </p>
            </div>
            <div class="sub-content">
                <p>
                    <a href="https://www.sunmoon-yoga.de/">Zurück zur Website</a>
                </p>
            </div>
        </section>

    {{/inline}}

{{/layouts/clean}}
