{{#> layouts/base-no-footer title="sun moon YOGA" home="true"}}

    {{#*inline "content-block"}}
        <section class="course-preview one-page">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                        <div class="course-card-wrap">
                            <div class="course-card-content-wrap">
                                <div style="background-image: url('./Images/course-card-vinyasa.jpg')" class="course-card">
                                    <h4>im flow</h4>
                                    <h3>vinyasa</h3>
                                </div>

                                <div class="links">
                                    <a class="btn secondary" href="/vinyasa.html">+ mehr</a>
                                    <a class="btn" href="/vinyasa-buchung.html">buchen</a>
                                </div>
                            </div>

                            <div class="course-card-content-wrap">
                                <div style="background-image: url('./Images/course-card-postnatal.jpg')" class="course-card">
                                    <h4>mama & baby</h4>
                                    <h2>postnatal</h2>
                                </div>

                                <div class="links">
                                    <a class="btn secondary" href="/postnatal.html">+ mehr</a>
                                    <a class="btn" href="/postnatal-buchung.html">buchen</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="cta" style="margin: 0;">
            <div class="container">
                <h2>Noch Fragen?</h2>
                <a class="btn btn-big with-border" href="sunmoon-yoga.de/kontakt.html">Kontakt</a>
            </div>
        </section>


        <!--
        <div class="stamps">
        </div>
        -->
    {{/inline}}

{{/layouts/base-no-footer}}
