{{#> layouts/clean title="sunmoon yoga – Postnatal | Mama & Baby Yoga – Buchung" home="true"}}

    {{#*inline "content-block"}}

        <section class="contact form">
            <div class="content no-bg">
                <h3>Schön, dass du beim Postnatal Yoga dabei bist!</h4>
                <script type="text/javascript" src="https://form.jotform.com/jsform/222496783534365"></script>            </div>
            <div class="sub-content">
                <p>
                    <a href="https://www.sunmoon-yoga.de/">Zurück zur Website</a>
                </p>
            </div>
        </section>

    {{/inline}}

{{/layouts/clean}}
