{{#> layouts/base title="sunmoon yoga – Postnatal | Mama & Baby Yoga – Buchung erfolgreich" home="true"}}

    {{#*inline "content-block"}}

        <div class="danke">
            <img src="./Images/flow.gif">
            <div class="content">
                <h2>Wie schön, dass du dabei bist!</h2>
                <a href="/sm-info_postnatal.pdf" class="btn with-border">Infos zum Kurs</a>

                <div class="links">
                    <p>
                        <a href="https://www.sunmoon-yoga.de/">Zurück zur Website</a>
                    </p>
                </div>
            </div>
        </div>

    {{/inline}}

{{/layouts/base}}
