{{#> layouts/base title="sun moon YOGA" home="false"}}

    {{#*inline "content-block"}}
        <section style="background-image: url('./Images/vinyasa-hero.jpg');" class="hero-course">
            <img class="line desktop" src="./Images/hero-kurs-line.svg">
            <img class="line mobile" src="./Images/hero-kurs-line-mobile.svg">
            <div class="container content">
                    <h4>im flow</h4>
                    <h1>vinyasa</h1>
            </div>
        </section>

        <section class="course-time container">
                <div class="content">
                    <h4>freitags</h4>
                    <h4>17.30 – 18.30</h4>
                </div>
        </section>

        <section class="course-description">
            <div class="container">
                <div class="row head">
                    <div class="col-9 col-sm-6 col-lg-4">
                        <img class="img-fluid" src="./Images/vinyasa-head.jpg">
                    </div>
                    <div class="col-12 col-sm-8 col-lg-7 offset-lg-1">
                        <h2>Heute schon gespürt?</h2>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6">
                        <p>Im Vinyasa Yoga sind die Asanas (=Yoga-Haltungen) fließend miteinander verbunden. Asanas dehnen und kräftigen genau die Muskeln, Sehen und Bänder, die durch unsere einseitigen Bewegungen im Alltag falsch oder zu wenig belastet sind.
                        <br><br>
                            Um während der fließenden Übergänge eine gesunde Körperhaltung sicherzustellen, lege ich bei meinen Flows mehr Wert auf Achtsamkeit und langes Halten als auf schnelle Bewegungsabläufe oder fancy Asanas. Denn je länger du eine Asana hälst, umso feiner kannst du sie spüren und justieren. Dabei versuchst du, deine Aufmerksamkeit durch bewusstes Atmen immer wieder in die Gegenwart zurückzuholen.</p>
                    </div>
                </div>

                <div class="row justify-content-end image-middle">
                    <div class="col-12 col-sm-10 col-lg-7">
                        <img class="img-fluid" src="./Images/vinyasa-middle.jpg">
                    </div>
                </div>

                <div class="row text-middle">
                    <div class="col-12 col-lg-5 justify-content-end d-flex">
                        <h3>Stretching für den Körper, Cooldown für den Geist</h3>
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <p>Nach dem Power-Yoga sind Körper & Geist nun bereit für intensive Dehnungen. Bei der nachfolgenden Yin Yoga Sequenz fokussieren wir uns auf das Gewebe im Körper, um es gesund und flexibel zu erhalten. Die sorgsam ausgewählten Asanas werden lange gehalten, um unserem Gewebe Zeit zu geben, sich zu öffnen. Denn durch das Dehnen nach körperlicher Anstrengung im Vinyasa können sich die Muskeln entspannen und schneller regenerieren. So werden deine Beweglichkeit und Flexibilität gefördert und der Muskelkater deutlich gemindert. Gleichzeitig bekommt unser Geist dabei endliche eine Pause, um sich zu sortieren – quasi eine aktive Meditation. Denn diese Ruhe fehlt uns häufig in unserem stressigen Alltag.</p>
                    </div>
                </div>

                <div class="row image-end align-items-end">
                    <div class="col-10 col-sm-6 col-md-5">
                        <img class="img-fluid" src="./Images/vinyasa-end.jpg">
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <h3>Vollkommene Entspannung</h3>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6">
                        <p>Beendet wird die Stunde mit der Endentspannung, Shavasana. Die oft unterschätzte Königsdisziplin. Während es uns in den Asanas eher leicht fällt, die Gedanken und Stressituationen des Alltags beiseite zu legen, sind wir in der Ruhephase unserem Geist ausgeliefert. Wenn wir nicht abschweifen, sondern im Hier und Jetzt bleiben, können wir unser Nervensystem beruhigen, Stresshormone abbauen und Glückshormone freisetzen.</p>
                    </div>
                </div>
            </div>
        </section>

        {{> pricing/pricing }}

        <section class="course-why">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4 offset-lg-1">
                        <h3>So viele gute Gründe</h3>
                    </div>
                    <div class="col-12 col-lg-6  points">
                        <ul>
                            <li>Weil du hier gleichzeitig deinen <strong>Körper stärkst</strong>, <strong>Flexibilität</strong> ausbaust & zur <strong>Ruhe</strong> kommst.</li>
                            <li>Weil du lernst,  <strong>achtsam</strong> gegenüber dir selbst zu sein.</li>
                            <li>Weil du schon jetzt etwas für  <strong>deine Gesundheit von morgen</strong> machen kannst.</li>
                            <li>Weil du einen  <strong>Ausgleich</strong> zu deinem Alltag an  <strong>Handy und Schreibtisch</strong> schaffst.</li>
                            <li>Weil du  <strong>Stress abbauen</strong> kannst und lernst, im Alltag besser damit umzugehen.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="cta">
            <div class="container">
                <h2>Klingt gut?</h2>
                <a class="btn btn-big with-border" href="/vinyasa-buchung.html">buchen</a>
            </div>
        </section>

        <section class="faq">
            <div class="container">
                <div class="row head">
                    <div class="col-9 col-sm-6 col-lg-5">
                        <img class="img-fluid" src="./Images/faq.jpg">
                    </div>
                    <div class="col-12 col-sm-8 col-lg-6 offset-lg-1">
                        <h3>Die häufigsten Fragen zum Vinyasa Kurs</h3>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <div class="faq-card">
                            <a class="btn-toggle open">
                                <h3>Kurz und knapp – was ist Vinyasa Yoga?</h3><h3 class="toggle-icon"><span class="open-icon">+</span> <span class="close-icon">–</span></h3>
                            </a>
                            <div class="content show">
                                <p>Beim Vinyasa Yoga werden die klassischen Hatha Yoga Asanas nicht einzeln praktiziert, sondern so in eine Reihenfolge gebracht, dass sie fließend ineinander übergehen.</p>
                            </div>
                        </div>

                        <div class="faq-card">
                            <a class="btn-toggle">
                                <h3>Woher weiß ich, ob Vinyasa der richtige Yogastil für mich ist?</h3><h3 class="toggle-icon"><span class="open-icon">+</span> <span class="close-icon">–</span></h3>
                            </a>
                            <div class="content">
                                <p>Grundsätzlich ist der Vinyasa Stil eher ein dynamischer, kraftvoller Yogastil. In meinen Kursen geht es vergleichsweise jedoch langsamer zu als bei den meisten Vinyasa Kursen. Mein Fokus liegt hier auf der Haltung der Asanas in Kombination mit einem kreativen Flow. Aber auch hier heisst es – probieren geht über studieren – da es beim Yoga ganz viel um das eigene Gefühl geht, kannst nur du selbst entscheiden, welcher Yogastil zu dir passt. Und hat man einmal den richtigen Stil gefunden, bedarf es auch noch eine passende Lehrperson, mit der man sich verbunden fühlt. Daher rate ich dir unbedingt – probier einfach verschiedene Yogastile aus. Du wirst merken, wenn es sich gut anfühlt.</p>
                                <p class="info">Du kannst auch bei dem <a target="blank" href="https://www.yogaeasy.de/tests/welches-yoga-passt-zu-mir">Yogastil-Test</a> von YogaEasy reinschauen.</p>
                            </div>
                        </div>

                        <div class="faq-card">
                            <a class="btn-toggle">
                                <h3>Brauche ich Vorerfahrung für den Kurs?</h3><h3 class="toggle-icon"><span class="open-icon">+</span> <span class="close-icon">–</span></h3>
                            </a>
                            <div class="content">
                                <p>Nein. Die Kurse sind gleichermaßen für Anfänger:innen wie für fortgeschrittene Yogi:nis geeignet.</p>
                            </div>
                        </div>

                        <div class="faq-card">
                            <a class="btn-toggle">
                                <h3>Wo finden die Yogastunden statt?</h3><h3 class="toggle-icon"><span class="open-icon">+</span> <span class="close-icon">–</span></h3>
                            </a>
                            <div class="content">
                                <p>Die Yogastunden finden in der <a href="https://de-de.facebook.com/VillaRue/" target="blank">Villa Rü</a> im Raum 202 statt, direkt gegenüber vom Girardethaus. Da wir uns mitten in Rüttenscheid befinden, Plane genug Zeit zum parken ein, falls du mit dem Auto kommst.</p>
                                <p><strong>Adresse</strong><br>
                                    Girardetstraße 21,<br>
                                    45131 Essen<br>
                                    Raum 202
                                </p>
                                <p>Direkt zu <a href="https://goo.gl/maps/eCWHkHw3a43snPAC6">Google Maps</a></p>
                            </div>
                        </div>

                        <p class="info" href="#">Allgemeine Infos zu meinen Kursen bekommst du <a href="sunmoon-yoga.de/#faq">hier</a>.</p>
                    </div>
                </div>
            </div>
        </section>

        {{> cta-image/cta-vision }}

        <!--
        <div class="stamps">
        </div>
        -->
    {{/inline}}

{{/layouts/base}}
