{{#> layouts/base title="sunmoon yoga – Vinyasa Flow – Buchung erfolgreich" home="true"}}

    {{#*inline "content-block"}}

        <div class="danke">
            <img src="./Images/flow.gif">
            <div class="content">
                <h2>Wie schön, dass du dabei bist!</h2>
                <a href="/sm-info_vinyasa.pdf" class="btn with-border">Infos zum Kurs</a>

                <div class="links">
                    <p>
                        <a href="https://www.sunmoon-yoga.de/">Zurück zur Website</a>
                        <!--<a href="https://www.instagram.com/sunmoon.yoga/?hl=de">Zu Instagram</a>-->
                    </p>
                </div>
            </div>
        </div>

        <!--
        <div class="stamps">
        </div>
        -->
    {{/inline}}

{{/layouts/base}}
