{{#> layouts/base title="sun moon YOGA" home="false"}}

    {{#*inline "content-block"}}
        <section style="background-image: url('./Images/vinyasa-hero.jpg');" class="hero-course">
            <img class="line desktop" src="./Images/hero-kurs-line.svg">
            <img class="line mobile" src="./Images/hero-kurs-line-mobile.svg">
            <div class="container content">
                    <h4>im flow</h4>
                    <h1>vinyasa</h1>
            </div>
        </section>

        <section class="course-time container">
                <div class="content">
                    <h4>freitags</h4>
                    <h4>17.30 – 18.30</h4>
                </div>
        </section>

        <section class="course-description">
            <div class="container">
                <div class="row head">
                    <div class="col-9 col-sm-6 col-lg-4">
                        <img class="img-fluid" src="./Images/vinyasa-head.jpg">
                    </div>
                    <div class="col-12 col-sm-8 col-lg-7 offset-lg-1">
                        <h2>Heute schon gespürt?</h2>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6">
                        <p>Im Vinyasa Yoga sind die Asanas (=Yoga-Haltungen) fließend miteinander verbunden. Asanas dehnen und kräftigen genau die Muskeln, Sehen und Bänder, die durch unsere einseitigen Bewegungen im Alltag falsch oder zu wenig belastet sind.
                        <br><br>
                            Um während der fließenden Übergänge eine gesunde Körperhaltung sicherzustellen, lege ich bei meinen Flows mehr Wert auf Achtsamkeit und langes Halten als auf schnelle Bewegungsabläufe oder fancy Asanas. Denn je länger du eine Asana hälst, umso feiner kannst du sie spüren und justieren. Dabei versuchst du, deine Aufmerksamkeit durch bewusstes Atmen immer wieder in die Gegenwart zurückzuholen.</p>
                    </div>
                </div>

                <div class="row justify-content-end image-middle">
                    <div class="col-12 col-sm-10 col-lg-7">
                        <img class="img-fluid" src="./Images/vinyasa-middle.jpg">
                    </div>
                </div>

                <div class="row text-middle">
                    <div class="col-12 col-lg-5 justify-content-end d-flex">
                        <h3>stretching für den körper, cooldown für den geist</h3>
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <p>Nach dem Power-Yoga sind Körper & Geist nun bereit für intensive Dehnungen. Bei der nachfolgenden Yin Yoga Sequenz fokussieren wir uns auf das Gewebe im Körper, um es gesund und flexibel zu erhalten. Die sorgsam ausgewählten Asanas werden lange gehalten, um unserem Gewebe Zeit zu geben, sich zu öffnen. Denn durch das Dehnen nach körperlicher Anstrengung im Vinyasa können sich die Muskeln entspannen und schneller regenerieren. So werden deine Beweglichkeit und Flexibilität gefördert und der Muskelkater deutlich gemindert. Gleichzeitig bekommt unser Geist dabei endliche eine Pause, um sich zu sortieren – quasi eine aktive Meditation. Denn diese Ruhe fehlt uns häufig in unserem stressigen Alltag.</p>
                    </div>
                </div>

                <div class="row image-end align-items-end">
                    <div class="col-10 col-sm-6 col-md-5">
                        <img class="img-fluid" src="./Images/vinyasa-end.jpg">
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <h3>vollkommene entspannung</h3>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6">
                        <p>Beendet wird die Stunde mit der Endentspannung, Shavasana. Die oft unterschätzte Königsdisziplin. Während es uns in den Asanas eher leicht fällt, die Gedanken und Stressituationen des Alltags beiseite zu legen, sind wir in der Ruhephase unserem Geist ausgeliefert. Wenn wir nicht abschweifen, sondern im Hier und Jetzt bleiben, können wir unser Nervensystem beruhigen, Stresshormone abbauen und Glückshormone freisetzen.</p>
                    </div>
                </div>
            </div>
        </section>

        {{> pricing/pricing }}

        <section class="course-why">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4 offset-lg-1">
                        <h3>Kurz & knapp das wieso</h3>
                    </div>
                    <div class="col-12 col-lg-6  points">
                        <ul>
                            <li>Weil du hier gleichzeitig deinen <strong>Körper stärkst</strong>, <strong>Flexibilität</strong> ausbaust & zur <strong>Ruhe</strong> kommst.</li>
                            <li>Weil du lernst,  <strong>achtsam</strong> gegenüber dir selbst zu sein.</li>
                            <li>Weil du schon jetzt etwas für  <strong>deine Gesundheit von morgen</strong> machen kannst.</li>
                            <li>Weil du einen  <strong>Ausgleich</strong> zu deinem Alltag an  <strong>Handy und Schreibtisch</strong> schaffst.</li>
                            <li>Weil du  <strong>Stress abbauen</strong> kannst und lernst, im Alltag besser damit umzugehen.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="cta">
            <div class="container">
                <h2>Klingt gut?</h2>
                <a class="btn btn-big with-border" href="sunmoon-yoga.de/vinyasa-buchung.html">Sei dabei</a>
            </div>
        </section>

        <section class="faq">
            <div class="container">
                <div class="row head">
                    <div class="col-9 col-sm-6 col-lg-5">
                        <img class="img-fluid" src="./Images/faq.jpg">
                    </div>
                    <div class="col-12 col-sm-8 col-lg-6 offset-lg-1">
                        <h3>Die wichtigsten Antworten auf einen Blick</h3>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <div class="faq-card">
                            <a class="btn-toggle open">
                                <h3>Brauche ich Vorerfahrung im Yoga?</h3><h3 class="toggle-icon"><span class="open-icon">+</span> <span class="close-icon">–</span></h3>
                            </a>
                            <div class="content show">
                                <p>Auch wenn du noch nie eine Yoga-Matte ausgerollt hast, bist du in der Villa Rü richtig. In deiner Yogapraxis gehst du immer nur soweit, wie es sich für dich und deinen Körper gut anfühlt. Ich unterstütze dich dabei, die Signale deines Körpers wahrzunehmen und darauf zu reagieren.</p>
                                <p>Allerdings gibt es ein paar <a href="#">Leitlinien</a> für deine erste Stunde bei mir, die du dir vor deinem ersten Yogakurs unbedingt durchlesen solltest.</p>
                            </div>
                        </div>

                        <div class="faq-card">
                            <a class="btn-toggle">
                                <h3>Muss ich meine Matte selbst mitbringen?</h3><h3 class="toggle-icon"><span class="open-icon">+</span> <span class="close-icon">–</span></h3>
                            </a>
                            <div class="content">
                                <p>Da jede:r Yogi:ni seine Vorlieben und unterschiedliche Bedürfnisse hat, bringst du deine eigene Matte mit. Solltest du noch keine Yogamatte haben und nicht wissen, welche Matte für dich geeignet ist, <a href="sunmoon-yoga.de/kontakt.html">schreib’ mir</a> oder schau mal hier vorbei:</p>
                                <p class="info">Der <a target="blank" href="https://www.fuckluckygohappy.de/fuenf-yogamatten-im-test/">Yogamatten-Test</a> von fuckluckygohappy kann dir behilflich sein, eine gute Matte auszuwählen.</p>
                            </div>
                        </div>

                        <div class="faq-card">
                            <a class="btn-toggle">
                                <h3>Werden die Kurse auch online angeboten</h3><h3 class="toggle-icon"><span class="open-icon">+</span> <span class="close-icon">–</span></h3>
                            </a>
                            <div class="content">
                                <p>Ein Online-Angebot der aktuellen Kurse gibt es leider nicht. Wenn du nach einem guten Online Yoga-Studio suchst, kann ich dir <a href="https://www.yogaeasy.de/">yogaeasy</a> ans Herz legen.</p>
                            </div>
                        </div>

                        <div class="faq-card">
                            <a class="btn-toggle">
                                <h3>Wie kann ich bezahlen?</h3><h3 class="toggle-icon"><span class="open-icon">+</span> <span class="close-icon">–</span></h3>
                            </a>
                            <div class="content">
                                <p>Bezahlen kannst du vor Ort, mit allen Karten oder per Paypal überweisen. Eine Barzahlung ist nicht möglich.</p>
                            </div>
                        </div>

                        <div class="faq-card">
                            <a class="btn-toggle">
                                <h3>Wann bekomme ich die Ermäßigung?</h3><h3 class="toggle-icon"><span class="open-icon">+</span> <span class="close-icon">–</span></h3>
                            </a>
                            <div class="content">
                                <p>Der ermäßigte Preis richtet sich an Personen, die sich in einer besonderen finanziellen Situation befinden. Diese können sein:</p>
                                <ul class="small">
                                    <li>Schüler*innen</li>
                                    <li>Studierende</li>
                                    <li>Mütter & Väter in Elternzeitn</li>
                                    <li>Schwerbehinderte Personen</li>
                                    <li>ALG Beziehende</li>
                                    <li>Personen, die Transferleistungen (ALG, Sozialhilfe, Grundsicherung oder Leistungen nach dem Asylbewerberleistungsgesetz) erhalten</li>
                                </ul>
                                <p>Noch nicht sicher? <a href="sunmoon-yoga.de/kontakt.html">Schreib’ mir gerne!</a> </p>
                            </div>
                        </div>

                        <div class="faq-card">
                            <a class="btn-toggle">
                                <h3>Wo kann ich die 10er Karte kaufen & wie lange ist sie gültig?</h3><h3 class="toggle-icon"><span class="open-icon">+</span> <span class="close-icon">–</span></h3>
                            </a>
                            <div class="content">
                                <p>Die Karte kaufst du vor oder nach deinem Yoga-Kurs vor Ort. Die Gültigkeit der beträgt ein Jahr.</p>
                            </div>
                        </div>

                        <div class="faq-card">
                            <a class="btn-toggle">
                                <h3>Was ist wenn der Kurs bereits gebucht ist, ich aber doch absagen muss? </h3><h3 class="toggle-icon"><span class="open-icon">+</span> <span class="close-icon">–</span></h3>
                            </a>
                            <div class="content">
                                <p>Uns allen kommt mal etwas dazwischen – versuche bitte 24 Stunden vor Kursbeginn abzusagen, damit jemand anderes deinen Platz einnehmen kann. Bei Krankheitsfällen oder dringenden Notfällen, kannst du natürlich auch am selben Tag Bescheid geben. </p>
                            </div>
                        </div>

                        <div class="faq-card">
                            <a class="btn-toggle">
                                <h3>Wo finden die Yogastunden statt?</h3><h3 class="toggle-icon"><span class="open-icon">+</span> <span class="close-icon">–</span></h3>
                            </a>
                            <div class="content">
                                <p>Die Yogastunden finden in der <a href="https://de-de.facebook.com/VillaRue/" target="blank">Villa Rü</a> statt, direkt gegenüber vom Girardethaus. Da wir uns mitten in Rüttenscheid befinden, Plane genug Zeit zum parken ein, falls du mit dem Auto kommst.</p>
                                <p><strong>Adresse</strong><br>
                                    Girardetstraße 21,<br>
                                    45131 Essen
                                </p>
                                <p>
                                    <strong>Postnatal – </strong> Raum 202<br>
                                    <strong>Vinyasa – </strong> Raum 203<br>
                                </p>
                                <p>Direkt zu <a href="https://goo.gl/maps/eCWHkHw3a43snPAC6">Google Maps</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{> cta-image/cta-vision }}

        <!--
        <div class="stamps">
        </div>
        -->
    {{/inline}}

{{/layouts/base}}
