.instagram-teaser {
  padding-top: 400px;
  padding-bottom: 400px;
  background-image: url("../Images/insta-link.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 90%;
  position: relative;

  .insta-link {
    position: absolute;
    height: 400px;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;

    @media (max-width: 600px) {
      height: 300px;
    }

    &:nth-child(1) {
      bottom: 0;
      top: unset;
    }
  }

  @media (max-width: 768px) {
    background-size: 80%;
  }

  @media (max-width: 450px) {
    background-size: 90%;
  }

  @media (max-width: 600px) {
    padding-top: 300px;
    padding-bottom: 300px;

    .container {
      padding: 0;
      width: 130vw;
      margin-left: -15vw;
    }
  }

  .postings {
    display: flex;
    justify-content: space-between;

    .post-col {
      width: 30%;

      .post {
        width: 100%;

        &:hover {

          img, video {
            border-radius: $border-radius-sm;
          }
        }

        img,
        video {
          max-width: 100%;
          margin-bottom: 30px;
          transition: 3s ease 0.1s;

          @media (max-width: 600px) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}