<section class="instagram-teaser bg-fade" data-background="#fff">
    <div class="container">
        <div class="postings">
            <div class="post-col">
                <a href="https://www.instagram.com/p/CaI1u84DQlt/" class="post">
                    <img src="./Images/insta-01.jpg">
                </a>

                <a href="https://www.instagram.com/p/CaU391pDBwX/" class="post">
                    <img src="./Images/insta-02.jpg">
                </a>
            </div>

            <div class="post-col">
                <a href="https://www.instagram.com/p/CaUBvJbjc8y/" class="post">
                    <video autoplay muted playsinline loop class="">
                        <source src="./Images/hero-bg.mp4" type="video/mp4">
                    </video>
                </a>

                <a href="https://www.instagram.com/p/CWF5CrCDaLC/" class="post">
                    <img src="./Images/insta-04.jpg">
                </a>
            </div>

            <div class="post-col">
                <a href="https://www.instagram.com/p/CZ2P5TErvQM/" class="post">
                    <img src="./Images/insta-03.jpg">
                </a>

                <a href="https://www.instagram.com/p/CaLVLNKDN97/" class="post">
                    <video autoplay muted playsinline loop class="">
                        <source src="./Images/insta-gif.mp4" type="video/mp4">
                    </video>
                </a>
            </div>
        </div>
        <div class="content">
            <a href="#">
                <h2>join me on instagram</h2>
            </a>
        </div>
    </div>
</section>