<section class="instagram-teaser bg-fade" data-background="#fff">
    <a class="insta-link" target="blank" href="https://www.instagram.com/sunmoon.yoga/?hl=de"><h2>sun moon auf instagram</h2> </a>
        <div class="container">
            <div class="postings">
                <div class="post-col">
                    <a href="https://www.instagram.com/p/CbdelbXD8PN/?hl=de" target="blank" class="post">
                        <img src="./Images/insta-02.jpg">
                    </a>

                    <a href="https://www.instagram.com/p/CaI1u84DQlt/" target="blank" class="post">
                        <img src="./Images/insta-01.jpg">
                    </a>
                </div>

                <div class="post-col">
                    <a href="https://www.instagram.com/p/CaUBvJbjc8y/" target="blank" class="post">
                        <video autoplay muted playsinline loop class="">
                            <source src="./Images/hero-bg.mp4" type="video/mp4">
                        </video>
                    </a>

                    <a href="https://www.instagram.com/p/Ccmy0rvDBFJ/?hl=de" target="blank" class="post">
                        <img src="./Images/insta-04.jpg">
                    </a>
                </div>

                <div class="post-col">
                    <a href="https://www.instagram.com/p/Ceb05jSDZH7/?hl=de" target="blank" class="post">
                        <img src="./Images/insta-05.jpg">
                    </a>

                    <a href="https://www.instagram.com/p/CcyC3NZjzIX/?hl=de" target="blank" class="post">
                        <img src="./Images/insta-03.jpg">
                    </a>
                </div>
            </div>
        </div>
    <a class="insta-link" target="blank" href="https://www.instagram.com/sunmoon.yoga/?hl=de"><h2>sun moon auf instagram</h2> </a>
</section>