<section id="sec-nl" class="newsletter bg-fade" data-background="#C4BADD">
    <h2>sei dabei!</h2>
    <div class="container">
        <div class="content">
            <div class="text">
                <h3>Wenn du gemeinsam mit mir im Studio Yoga auf eine neue Weise entdecken möchtest, dann bleib doch gerne auf dem Laufenden. Denn Pläne für ein Studio in Essen Süd gibt es – und wenn es dazu etwas Neues gibt, gebe ich dir Bescheid.
                </h3>
                <h4>kein spam. nur bhakti.</h4>
            </div>

            <form class="validate focus-handler" method="post">
                    <label for="inputEmail">E-Mail Adresse</label>
                    <input type="text" class="form-control focus-toggle" id="inputEmail" placeholder="E-Mail Adresse" data-rule="email" data-msg="Bitte geben Sie eine gültige E-Mail Adresse ein.">

                <button type="submit" class=""><img src="./Images/icon-submit.svg"></button>
            </form>
        </div>
    </div>

    <img class="illu" src="./Images/illu-nl.svg">
</section>