<section id="sec-nl" class="newsletter bg-fade" data-background="#C4BADD">
    <h2>sei dabei!</h2>
    <div class="container">
        <div class="content">
            <div class="text">
                <h3>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit.</h3>
                <h4>kein spam. nur bhakti.</h4>
            </div>

            <form class="validate focus-handler" method="post">
                    <label for="inputEmail">E-Mail Adresse</label>
                    <input type="text" class="form-control focus-toggle" id="inputEmail" placeholder="E-Mail Adresse" data-rule="email" data-msg="Bitte geben Sie eine gültige E-Mail Adresse ein.">
            </form>
        </div>
    </div>
</section>