<section class="hero hero-text">
    <div class="container">
        <div class="line-controller background-color">
            <img class="hero-line back" src="./Images/hero-line_text_back.svg">

                <h1>faq</h1>
                <h3>Lorem ipsum dolor sit amet.</h3>

            <img class="hero-line front" src="./Images/hero-line_text_front.svg">
        </div>
    </div>
</section>
