<section class="hero bg-fade" data-background="#ffffff">
    <div class="container">
        <img class="hero-img" src="./Images/hero-4.jpg">

        <div class="content">
            <h1>sun moon</h1>
            <h4>YOGA</h4>
        </div>

        <div class="sub-content">
            <h4>Based in Essen</h4>
            <h4>Lorme ipsum dolor sit</h4>
        </div>

        <div class="scroll-indicator">
            <div class="mouse-scroll" href="#">
              <span class="mouse">
                <span class="mouse-movement">
                </span>
              </span>
                <span class="mouse-message fadeIn">
                    <h4>flow</h4>
                </span>
            </div>
        </div>
    </div>
</section>

