<section class="hero hero-slider">
    <div class="container">
        <div class="swiper">
            <div class="swiper-button swiper-button-next swiper-hero-button-next"></div>
            <div class="swiper-button swiper-button-prev swiper-hero-button-prev"></div>

            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="line-controller background-image bg-center-center" style="background-image: url('../Images/hero-2.jpg');">
                        <img class="hero-line back" src="./Images/hero-line_slider_back.svg">
                        <img class="hero-line front" src="./Images/hero-line_slider_front.svg">
                    </div>

                    <a href="#" class="content">
                        <h1>thomas</h1>
                        <h3>Ayurveda auf Marielyst</h3>
                        <div class="btn-round">join</div>
                    </a>
                </div>

                <div class="swiper-slide">
                    <div class="line-controller background-image bg-center-center">
                        <img class="hero-line back" src="./Images/hero-line_slider_back.svg">
                        <img class="hero-line front" src="./Images/hero-line_slider_front.svg">
                    </div>

                    <a href="#" class="content">
                        <h1>miriam</h1>
                        <h3>Leyken in de Keyken</h3>
                        <div class="btn-round">join</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>