<section class="hero bg-fade" data-background="#ffffff">
    <div class="container">
        <div class="img-wrap">
            <img class="illu-big" src="./Images/hero-illu-big.svg">
            <img class="illu-small" src="./Images/hero-illu-small.svg">
            <img class="hero-img" src="./Images/hero-new.jpg">
        </div>

        <div class="content">
            <h1>sun moon</h1>
            <h4>yoga</h4>
        </div>

        <div class="sub-content">
            <h4>Yoga in Essen</h4>
            <h4>Lorem ipsum dolro</h4>
        </div>
    </div>
</section>

