<section class="hero-animation bg-fade" data-background="#ffffff">
    <div class="container">

        <div class="content">
            <h1>sun moon</h1>
            <h4>yoga</h4>
        </div>

        <div class="sub-content">
            <h4>Yoga in Essen</h4>
            <h4>Lorem ipsum dolro</h4>
        </div>
    </div>

    <div class="img-wrap">
        <img class="illu illu-line" src="./Images/hero-line.svg">
        <div class="hero-img">
            <img class="illu illu-circle" src="./Images/hero-circle.svg">
        </div>
    </div>
</section>

