<section class="video-bg">
    <div class="overlay"></div>
        <video autoplay muted loop class="video-bg mobile" data-wf-ignore="true" data-object-fit="cover">
            <source src="./Images/hero-bg.mp4" type="video/mp4" data-wf-ignore="true">
        </video>

        <video autoplay muted loop class="video-bg desktop">
            <source src="./Images/hero-bg-gross.mp4" type="video/mp4">
        </video>

    <div class="video-content">
        <h2>Starker Körper – klarer Geist</h2>
    </div>
</section>



