<section class='video-bg'>
  <div class='overlay'></div>
  <video
    autoplay
    muted
    loop
    class='video-bg mobile'
    data-wf-ignore='true'
    data-object-fit='cover'
  >
    <source src='./Images/hero-bg.mp4' type='video/mp4' data-wf-ignore='true' />
  </video>

  <video autoplay muted loop class='video-bg desktop' style='opacity: 0'>
    <source src='./Images/hero-bg-gross.mp4' type='video/mp4' />
  </video>

  <div class='video-content'>
    <div class='text-animation'>
      <h2 class='animated one'>starker körper</h2>
      <h2 class='animated two'>
        klarer geist</h2>
      <h4>Das Ziel jeder meiner Classes</h4>
    </div>
  </div>
</section>