<div class="container image-gallery-wrap">
    <div class="swiper-wrap">
        <div class="swiper image-gallery">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="./Images/gallery-01.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="./Images/gallery-02.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="./Images/gallery-03.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="./Images/gallery-04.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="./Images/gallery-05.jpg" />
                </div>
            </div>
            <div class="swiper-button swiper-button-next swiper-gallery-button-next"></div>
            <div class="swiper-button swiper-button-prev swiper-gallery-button-prev"></div>
        </div>

        <div thumbsSlider="" class="swiper image-gallery-thumbs">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="./Images/gallery-01.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="./Images/gallery-02.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="./Images/gallery-03.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="./Images/gallery-04.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="./Images/gallery-05.jpg" />
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <h2>Quartiere</h2>
        <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
            kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
        <p><strong>Stet clita kasd gubergren, no sea takimata sanctus.</strong></p>
    </div>
</div>