<footer class="bg-fade" data-background="#fff">
    <div class="container">
        <div class="content">
            <img class="logo" src="./Images/logo.svg">

            <nav>
                <ul>
                    <li>
                        <a href="https://www.sunmoon-yoga.de/impressum.html">Impressum</a>
                        <a href="https://www.sunmoon-yoga.de/datenschutz.html">Datenschutz</a>
                        <a href="https://www.sunmoon-yoga.de/agb.html">AGB</a>
                        <a href="https://www.sunmoon-yoga.de/kontakt.html">Kontakt</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
