<footer class="bg-fade" data-background="#fff">
    <div class="container">
        <div class="content">
            <img class="logo" src="./Images/logo.svg">

            <nav>
                <ul>
                    <li>
                        <a href="#">Impressum</a>
                        <a href="#">Datenschutz</a>
                        <a href="#">Kontakt</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
