<section class='about bg-fade' data-background='#ffffff'>
  <div class='text-overlay'></div>
  <div class='overlay'></div>
  <video
    autoplay
    muted
    playsinline
    loop
    class='video-bg mobile'
    data-wf-ignore='true'
    data-object-fit='cover'
  >
    <source src='./Images/hero-bg.mp4' type='video/mp4' data-wf-ignore='true' />
  </video>

  <video autoplay muted playsinline loop class='video-bg desktop' style='opacity: 0'>
    <source src='./Images/hero-bg-gross.mp4' type='video/mp4' />
  </video>

    <div class="container">
        <div class="video-content">
            <div class="head">
                <h4>Yogaweg</h4>
                <h2>Starker Körper, klarer Geist</h2>
            </div>
            <p>Hi, ich bin Milena. Ich mache Yoga. Am liebsten im Schrebergarten, in der Morgensonne im Wohnzimmer, oder mit Freund:innen im Studio. Und ich mache es so gerne, dass ich mich vor zwei Jahren dazu entschieden habe, eine Ausbildung zur Yoga-Lehrerin nach der Sivananda Tradition zu beginnen. Für mich ist ein starker, gesunder Körper ebenso wichtig wie ein klarer Geist. Daher konzentrieren wir uns bei sun moon auf ein gutes Körpergefühl gepaart mit Achtsamkeitsübungen.
                <br><br>
                Wenn es dir ähnlich geht, dann kannst du dich auf alles freuen, was bei sun moon noch passieren wird. Vielleicht ja auch ein neues Yoga-Studio in Essen Süd. Klingt gut? Dann bleib mit mir im Flow.</p>
        </div>
    </div>
</section>