<section id="sec-about" class='about bg-fade' data-background='#ffffff'>
    <source src='./Images/hero-bg.mp4' type='video/mp4' data-wf-ignore='true' />
  </video>

  <video autoplay muted playsinline loop class='video-bg desktop'>
    <source src='./Images/bg-video_small.mp4' type='video/mp4' />
  </video>

    <div class="container">
        <div class="video-content">
            <h2>mein Fokus</h2>
            <div class="content-wrap">
                <div class="top">
                    <p>Ursprünglich war Yoga für mich einfach ein Sport. Doch mit der Zeit identifizierte ich mich Stück für Stück mehr mit der Philosophie über den Zusammenhang von Körper und Geist – und bin mir selbst dadurch nähergekommen. Verbesserte Konzentration, ein gutes Stressmanagement & bessere Schlafqualität waren nur einige der Vorteile, die ich schnell spüren durfte. Diese Erfahrungen möchte ich als Yoga-Lehrerin an andere weitergeben. Gelernt habe ich klassisches Hatha Yoga nach der Sivananda Tradition, welche einen besonderen Fokus auf den ganzheitlichen Ansatz von Yoga legt. Nach einer Fortbildung im Yoga Sequencing habe ich meine Liebe zum Vinyasa Yoga entdeckt.
                    </p>
                </div>
                <div class="highlight">
                    <h6>Jeder Körper ist einzigartig. Daher liegt mein Schwerpunkt auf der Förderung deines individuellen Körpergefühls anstatt einer perfekt aussehenden Außenwahrnehmung.</h6>
                </div>
            </div>
        </div>
    </div>
</section>