<section id="sec-about" class='about bg-fade' data-background='#ffffff'>
  <!--<div class='overlay'></div>-->
  <video
    autoplay
    muted
    playsinline
    loop
    class='video-bg mobile'
    data-wf-ignore='true'
    data-object-fit='cover'
  >
    <source src='./Images/hero-bg.mp4' type='video/mp4' data-wf-ignore='true' />
  </video>

  <video autoplay muted playsinline loop class='video-bg desktop' style='opacity: 0'>
    <source src='./Images/hero-bg-gross.mp4' type='video/mp4' />
  </video>

    <div class="container">
        <div class="video-content">
            <h2>mein Fokus</h2>
            <div class="content-wrap">
                <div class="top">
                    <p>Gelernt habe ich klassisches Hatha Yoga nach Sivananda Tradition, welche einen besonderen Fokus auf den ganzheitlichen Ansatz von Yoga legt. Angefangen mit der körperlichen Intention, konnte ich mich Stück für Stück mehr mit dem Zusammenhang von Körper & Geist identifizieren und dadurch mir selbst näher kommen. Verbesserte Konzentration, ein gutes Stressmanagement & bessere Schlafqualität waren nur einige der Vorteile die ich schnell spüren durfte.
                    </p>
                </div>
                <div class="highlight">
                    <h6>Jeder Körper ist einzigartig. Daher liegt mein Fokus auf der Förderung deines individuellen Körpergefühls anstatt einer perfekt aussehenden Aussenwahrnehmung.</h6>
                </div>
            </div>
        </div>
    </div>
</section>