<section class="about bg-fade"  data-background="#C4BADD">
    <div class="text-overlay"></div>
    <div class="overlay"></div>
    <video autoplay muted loop class="video-bg mobile" data-wf-ignore="true" data-object-fit="cover">
        <source src="./Images/hero-bg.mp4" type="video/mp4" data-wf-ignore="true">
    </video>

    <video autoplay muted loop class="video-bg desktop">
        <source src="./Images/hero-bg-gross.mp4" type="video/mp4">
    </video>

    <div class="container">
        <div class="video-content">
            <div class="head">
                <h4>Yogaweg</h4>
                <h2>die essenz von lorem ipsusm dolor</h2>
            </div>
            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
</section>