.classes {

  .class {
    padding: 120px 0;
    min-height: 100vh;

    .container {
      display: flex;

      @media (max-width: 990px) {
        flex-direction: column;
      }

      &.reverse {
        flex-direction: row-reverse;

        @media (max-width: 990px) {
          flex-direction: column;
        }

        .image {
          margin-right: 120px;
          margin-left: 0;

          @media (max-width: 1100px) {
            margin-right: 80px;
          }

          @media (max-width: 990px) {
            margin-top: -50px;
            margin-right: -120px;
          }

          @media (max-width: 768px) {
            margin-top: -80px;
            margin-right: -60px;
          }

          @media (max-width: 600px) {
            margin-top: -120px;
            margin-right: -60px;
          }
        }
      }

      .description {

        .head {
          @media (max-width: 990px) {
            max-width: 500px;
          }
        }

        h2, h4, p, h6 {
          color: $color-white;
        }

        h6, h4 {
          color: $color-tertiary;
        }

        p {
          margin-left: 90px;
          margin-top: 60px;

          @media (max-width: 990px) {
            margin-left: 70px;
          }

          @media (max-width: 600px) {
            margin-left: 0;
          }
        }

        .tags {
          margin-top: 60px;

          h6 {
            display: inline;
            margin-right: 30px;

            @media (max-width: 600px) {
              display: block;
              margin-bottom: 0;
            }
          }
        }
      }

      .image {
        margin-left: 120px;
        position: relative;
        height: fit-content;

        @media (max-width: 1100px) {
          margin-left: 80px;
        }

        @media (max-width: 990px) {
          margin-left: 0;
          display: flex;
          justify-content: flex-end;
          margin-top: -50px;
          margin-right: -120px;
        }

        @media (max-width: 768px) {
          margin-top: -80px;
          margin-right: -60px;
        }

        @media (max-width: 600px) {
          margin-top: -96px;
          margin-right: -60px;
        }

        .photo {
          border-radius: $border-radius-sm;
          max-width: 350px;
          height: auto;

          @media (max-width: 1100px) {
            width: 260px;
            height: auto;
          }

          @media (max-width: 450px) {
            width: 220px;
            height: auto;
          }
        }

        .icon,
        .circle,
        .icon-m {
          position: absolute;
        }

        .icon {
          display: flex;

          @media (max-width: 990px) {
            display: none;
          }
        }

        .icon-m {
          display: none;

          @media (max-width: 990px) {
            display: flex;
          }
        }
      }
    }


    &.hatha {

      .icon {
        bottom: -7px;
        left: 276px;

        @media (max-width: 1100px) {
          width: 420px;
          height: auto;
          bottom: 6px;
          left: 210px;
        }

        @media (max-width: 990px) {
          display: none;
        }
      }

      .icon-m {

        @media (max-width: 990px) {
          bottom: -158px;
          right: 115px;
        }

        @media (max-width: 450px) {
          width: 280px;
          height: auto;
          bottom: -127px;
          right: 99px;
        }
      }
    }

    .circle {
      bottom: -11px;
      right: 72px;

      @media (max-width: 1100px) {
        width: 58px;
        height: auto;
      }

      @media (max-width: 450px) {
        width: 40px;
      }
    }

    &.vinyasa {

      .icon {
        bottom: -342px;
        left: -339px;

        @media (max-width: 1100px) {
          width: 290px;
          height: auto;
          bottom: -229px;
          left: -233px;
        }
      }

      .icon-m {

        @media (max-width: 990px) {
          bottom: -158px;
          right: -233px;
        }

        @media (max-width: 450px) {
          width: 436px;
          height: auto;
          bottom: -139px;
          right: -180px;
        }
      }
    }


    &.bikram {

      .icon {
        bottom: -59px;
        left: 81px;

        @media (max-width: 1100px) {
          width: 436px;
          height: auto;
          bottom: -59px;
          left: 46px;
        }
      }

      .icon-m {

        @media (max-width: 990px) {
          bottom: -117px;
          right: -79px;
        }

        @media (max-width: 450px) {
          width: 462px;
          height: auto;
          bottom: -100px;
          right: -65px;
        }
      }
    }
  }
}