<section id="sec-classes" class="classes">
    <div class="class hatha bg-fade" data-background="#C4BADD">
        <div class="container">
            <div class="description">
                <div class="head">
                    <h4>Hatha</h4>
                    <h2>Gezielte asanas für den gesunden Körper & Geist</h2>
                </div>
                <p>Fangen wir bei der Basis an: Hatha Yoga. Dieser Yogastil ist die Grundlage für viele der aktuell so angesagten Varianten. „Ha“ bedeutet Sonne, wohingegen „tha“ mit Mond übersetzt wird. (Daher auch sun moon yoga.) Diese beiden Gegensätze – die kraftvolle Sonne und der stille Mond – werden beim Hatha-Yoga vereint und stärken zusammen das Bewusstsein für den eigenen Körper und Geist. <br><br>Viele bekannte und beliebte Übungen, wie zum Beispiel der Sonnengruß, entspringen dieser sehr ursprünglichen Form. Daher eignet es sich perfekt für Anfänger:innen oder alle, die auf entspannte Weise den eigenen Körper kennenlernen möchten.</p>
                <div class="tags">
                    <h6>Kraft</h6>
                    <h6>Einstieg</h6>
                    <h6>Ruhe</h6>
                </div>
            </div>

            <div class="image">
                <img class="photo" src="./Images/classes_hatha.jpg">
                <img class="icon" src="./Images/classes_icon-hatha.svg">
            </div>
        </div>
    </div>

    <div class="class vinyasa bg-fade" data-background="#9AC1D1">
        <div class="container reverse">
            <div class="description">
                <div class="head">
                    <h4>Vinyasa</h4>
                    <h2>fließende & dynamische sequenzen</h2>
                </div>
                <p>Einatmen, ausatmen – und dazu bewegen. Das ist der Kern von Vinyasa Yoga, bei dem Übungen (die Asanas) besonders dynamisch und fließend ausgeführt werden. Auch hier verrät schon der Name viel über den beliebten Yoga-Stil: „Vi“ heißt „auf eine bestimmte Weise“ und „nyasa“ „stellen, legen, setzen“. Frei übersetzt also etwa: Etwas auf eine bestimmte Weise tun. <br><br>Die verschiedenen Asanas werden in der Länge eines Atemzugs verbunden, sodass fließende Bewegungsabläufe entstehen. Dadurch können immer wieder verschiedene Kombinationen durchgeführt werden und die Yoga-Stunde gleicht manchmal eher einem kreativen Tanzkurs.</p>
                <div class="tags">
                    <h6>Körper</h6>
                    <h6>Kreativität</h6>
                    <h6>Dynamik</h6>
                </div>
            </div>

            <div class="image">
                <img class="photo" src="./Images/classes_vinyasa.jpg">
                <img class="icon" src="./Images/classes_icon-vinyasa.svg">
            </div>
        </div>
    </div>

    <div class="class bikram bg-fade" data-background="#C4BADD">
        <div class="container">
            <div class="description">
                <div class="head">
                    <h4>Yin</h4>
                    <h2>Entspannung und Dehnung mit Achtsamkeit</h2>
                </div>
                <p>Wusstest du, dass deine Faszien lebendiges Nervengewebe sind? Beim Yin fokussieren wir uns auf
                    das Gewebe im Körper, um es gesund und flexibel zu erhalten. Die sorgsam ausgewählten Asanas
                    werden lange gehalten um unserem Gewebe Zeit zu geben, sich zu öffnen.<br><br> Gleichzeitig bekommt
                    unser Geist hier die Pause sich zu sortieren, die uns sonst in unserem stressigen Multitasking Alltag
                    einfach fehlt – quasi wie aktive Meditation.</p>
                <div class="tags">
                    <h6>Yin Yoga</h6>
                    <h6>Stretching</h6>
                    <h6>Faszien</h6>
                </div>
            </div>

            <div class="image">
                <img class="photo" src="./Images/classes_bikram.jpg">
                <img class="icon" src="./Images/classes_icon-bikram.svg">
            </div>
        </div>
    </div>
</section>