<section class="classes">
    <div class="class hatha bg-fade" data-background="#C4BADD">
        <div class="container">
            <div class="description">
                <div class="head">
                    <h4>Hatha</h4>
                    <h2>gezielte asanas in achtsamen flows</h2>
                </div>
                <p>Einatmen, ausatmen – und dazu bewegen. Das ist der Kern von Vinyasa Yoga, bei dem die Asanas fließend ineinander übergehen.
                Die Grundlage hierzu ist Hatha Yoga – die Körperhaltungen (Asanas) im Yoga. „Ha“ bedeutet Sonne, wohingegen „tha“ mit Mond übersetzt wird – daher auch sun moon yoga. Die Asanas dehnen und kräftigen unsere Muskeln, Sehen und Bänder. Sie bewahren uns vor Atrophie, der Verkümmerung jeglicher Organismen und Bestandteile unseres wertvollen Körpers.
<br><br>
                    Um während der fließenden Übergänge eine gesunde Körperhaltung sicherzustellen, lege ich bei meinen Flows mehr Wert auf Achtsamkeit und langes Halten als auf schnelle Bewegungsabläufe.</p>
                <div class="tags">
                    <h6>Kraft</h6>
                    <h6>Vinyasa</h6>
                    <h6>Körpergefühl</h6>
                </div>
            </div>

            <div class="image">
                <img class="photo" src="./Images/hatha.jpg">
                <img class="icon" src="./Images/illu-1.svg">
                <img class="icon-m" src="./Images/illu-1_m.svg">
                <img class="circle" src="./Images/illu-circle.svg">
            </div>
        </div>
    </div>

    <div class="class vinyasa bg-fade" data-background="#B5C9D1">
        <div class="container reverse">
            <div class="description">
                <div class="head">
                    <h4>Yin</h4>
                    <h2>stretching für den körper, cooldown für den geist</h2>
                </div>
                <p>Am Ende der Yogastunde sind Körper & Geist nun bereit für intensive Dehnungen. Bei der nachfolgenden Yin Yoga Sequenz fokussieren wir uns auf das Gewebe im Körper, um es gesund und flexibel zu erhalten. Die sorgsam ausgewählten Asanas werden lange gehalten, um unserem Gewebe Zeit zu geben, sich zu öffnen. Denn durch das Dehnen nach körperlicher Anstrengung im Vinyasa können sich die Muskeln entspannen und schneller regenerieren. So werden deine Beweglichkeit und Flexibilität gefördert.
<br><br>
                    Gleichzeitig bekommt unser Geist dabei endliche eine Pause, um sich zu sortieren – quasi eine aktive Meditation. Denn diese Ruhe fehlt uns häufig in unserem stressigen Alltag.</p>
                <div class="tags">
                    <h6>Faszien</h6>
                    <h6>Stressreduktion</h6>
                    <h6>Flexibilität</h6>
                </div>
            </div>

            <div class="image">
                <img class="photo" src="./Images/yin.jpg">
                <img class="icon" src="./Images/illu-2.svg">
                <img class="icon-m" src="./Images/illu-2_m.svg">
                <img class="circle" src="./Images/illu-circle.svg">
            </div>
        </div>
    </div>

    <div class="class bikram bg-fade" data-background="#C4BADD">
        <div class="container">
            <div class="description">
                <div class="head">
                    <h4>Raja</h4>
                    <h2>mehr positivität und ein starkes bewusstsein</h2>
                </div>
                <p>Jeder Schritt, den wir gehen und jede Handlung, die wir tun, fängt mit einem Gedanken an – wie bedeutend ist es also, unseren (gesunden) Geist im Auge zu behalten? Mir geht es nicht darum, negativen Gefühlen keinen Raum zu geben oder sie zu unterdrücken. Es geht vielmehr darum, durch die Beobachtung von Verhaltensmustern deinen Geist nachhaltig zu schärfen und die Ablenkungen des Alltags auszumerzen. Dadurch kannst du Stück für Stück mehr echte Positivität und tiefe, innere Zufriedenheit erlangen, welche durch äußere Umstände nicht mehr so leicht zu erschüttern ist.
                <br><br>
                    Da für meine eigene Praxis Raja Yoga eine große Rolle spielt, verbinde ich die körperliche Praxis also gerne mit Thematiken aus dem königlichen Yogaweg, dem Raja Yoga.
                </p>
                <div class="tags">
                    <h6>Selbstfürsorge</h6>
                    <h6>Willenskraft</h6>
                    <h6>Achtsamkeit</h6>
                </div>
            </div>

            <div class="image">
                <img class="photo" src="./Images/raja.jpg">
                <img class="icon" src="./Images/illu-3.svg">
                <img class="icon-m" src="./Images/illu-3_m.svg">
                <img class="circle" src="./Images/illu-circle.svg">
            </div>
        </div>
    </div>
</section>