<div class="start-animation">
    <video autoplay muted loop class="">
        <source src="./Images/insta-gif.mp4" type="video/mp4">
    </video>
    <div class="content">
        <h2>Wie schön, dass du dabei bist!</h2>
        <h4>Ich melde mich bei dir, sobald es los geht.</h4>

        <div class="links">
            <p>
                <a href="https://www.sunmoon-yoga.de/">Zurück zur Website</a>
                <!--<a href="https://www.instagram.com/sunmoon.yoga/?hl=de">Zu Instagram</a>-->
            </p>
        </div>
    </div>
</div>