
    <div class="container">
        <a class="logo-link" href="https://www.sunmoon-yoga.de/">
            <img src="./Images/logo.svg">
        </a>
        <a class="nav-toggle btn with-border" href="#/">menü</a>
        <nav>
            <a class="close-nav btn-round btn-round-small" href="#/">x</a>
            <img class="logo" src="./Images/logo_schriftzug-unten_schwarz.svg">
            <ul>
                <li><a href="https://www.sunmoon-yoga.de/#sec-about"><h3>mein fokus</h3></a></li>
                <li><a href="https://www.sunmoon-yoga.de/#sec-classes"><h3>kurse</h3></a></li>
                <li><a href="https://www.sunmoon-yoga.de/#sec-nl"><h3>sei dabei</h3></a></li>
                <li><a href="https://www.sunmoon-yoga.de/kontakt.html"><h3>kontakt</h3></a></li>
            </ul>
        </nav>

        <div class="nav-backdrop"></div>
    </div>