<header>
    <div class="container">
        <a class="logo-link" href="#">
            <img src="./Images/logo.svg">
        </a>
        <a class="nav-toggle btn" href="#/">m</a>
        <nav>
            <img class="logo" src="./Images/logo_schriftzug-unten_schwarz.svg">
            <ul>
                <li><a href="#sec-about"><h3>mein fokus</h3></a></li>
                <li><a href="#sec-classes"><h3>classes</h3></a></li>
                <li><a href="#sec-nl"><h3>sei dabei</h3></a></li>
                <li><a href="https://www.sunmoon-yoga.de/kontakt.html"><h3>kontakt</h3></a></li>
            </ul>

            <a class="close-nav btn-round btn-round-small" href="#/">x</a>
        </nav>

        <div class="nav-backdrop"></div>
    </div>
</header>