<div class="container category-slider-wrap">
    <div class="fixed-content">
        <h2>passion</h2>
        <p>At vero eos et <a href="#">accusam</a> et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>

        <div class="navigation">
            <div class="swiper-button swiper-button-prev category-slider-button-prev"></div>
            <div class="swiper-button swiper-button-next category-slider-button-next"></div>
        </div>
    </div>

    <div class="swiper category-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#" class="category-wrap">
                    <div class="column left-column">
                        <img class="img-fluid" src="./Images/category-image-one.jpg">
                        <div class="category-name"><h3>Kreativität & Lorem ipsum</h3></div>
                    </div>

                    <div class="column right-column">
                        <img class="img-fluid" src="./Images/category-image-two.jpg">
                        <div class="btn" href="#">zu den teems</div>
                    </div>
                </a>
            </div>

            <div class="swiper-slide">
                <a href="#" class="category-wrap">
                    <div class="column left-column">
                        <img class="img-fluid" src="./Images/category-image-four.jpg">
                        <div class="category-name"><h3>Fitness & Gesundheit</h3></div>
                    </div>

                    <div class="column right-column">
                        <img class="img-fluid" src="./Images/category-image-three.jpg">
                        <div class="btn" href="#">zu den teems</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>